@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GaramondRegular';
  src: url('../_font/CormorantGaramond-Regular.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --container: #f4f0eb;
  --border: #121212;
  --title: #121212;
  --text: #3a3845;

  --title-font: 'GaramondRegular';
}

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gift-layout {
  width: 100%;
  display: grid;
  grid-template-areas:
    'gift1 gift1 gift4'
    'gift2 gift3 gift5';
  gap: 3rem;
}

.gift-1 {
  grid-area: gift1;
}

.gift-2 {
  grid-area: gift2;
}

.gift-3 {
  grid-area: gift3;
}

.gift-4 {
  grid-area: gift4;
}

.gift-5 {
  grid-area: gift5;
}

@media screen and (max-width: 768px) {
  .gift-layout {
    grid-template-areas:
      'gift1 gift1'
      'gift2 gift3'
      'gift4 gift5';
    gap: 1.5rem;
  }
}
